@model ProjektniZadatak.Models.Radnik

@{
    ViewData["Title"] = "Detalji";

}
@{var NetoPlata = Math.Round(Model.NetoPlata, 2);
    var BrutoPlata = Math.Round(Model.BrutoPlata, 2);
    var StopaPoreza = Math.Round(Model.StopaPoreza, 2);
    var RPIO = Math.Round(Model.RPIO, 2);
    var RZDR = Math.Round(Model.RZDR, 2);
    var RNZP = Math.Round(Model.RNZP, 2);
    var PPIO = Math.Round(Model.PPIO, 2);
    var PZDR = Math.Round(Model.PZDR, 2);
    var PNZP = Math.Round(Model.PNZP, 2);

    var iznosDoprinosaRadnik = Model.RNZP + Model.RPIO + Model.RZDR;

    var iznosDoprinosaPoslodavac = Model.PNZP + Model.PPIO + Model.PZDR;

    iznosDoprinosaRadnik= Math.Round(iznosDoprinosaRadnik, 2);

    iznosDoprinosaPoslodavac = Math.Round(iznosDoprinosaPoslodavac, 2);

}

<h1>Detalji</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Ime) @Html.DisplayFor(model => model.Prezime)</h4>
    <hr />
    <h5>Doprinosi na teret radnika</h5>
    <dl class="row">
        <dt class="col-sm-2">
            Iznos dop. PIO:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => RPIO)
        </dd>
        <dt class="col-sm-2">
            Iznos  dop. za zdravstvo:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => RZDR)
        </dd>
        <dt class="col-sm-2">
            Iznos dop. za nezaposlenost:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => RNZP)
        </dd>
        <dt class="col-sm-2">
            Ukupno:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => iznosDoprinosaRadnik)
        </dd>
    </dl>

    <hr />
    <h5>Doprinosi na teret poslodavca</h5>
    <dl class="row">
        <dt class="col-sm-2">
            Iznos dop. PIO:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => PPIO)
        </dd>
        <dt class="col-sm-2">
            Iznos dop. za zdravstvo:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => PZDR)
        </dd>
        <dt class="col-sm-2">
            Iznos dop. za nezaposlenost:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => PNZP)
        </dd>
        <dt class="col-sm-2">
            Ukupno:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => iznosDoprinosaPoslodavac)
        </dd>
    </dl>

    <hr />
    <h5>Bruto plata</h5>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NetoPlata)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => NetoPlata)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StopaPoreza)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => StopaPoreza)
        </dd>

        <dt class="col-sm-2">
            Doprinosi na teret radnika:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => iznosDoprinosaRadnik)
        </dd>

        <dt class="col-sm-2">
            Doprinosi na teret poslodavca:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => iznosDoprinosaPoslodavac)
        </dd>

        <dt class="col-sm-2">
            Ukupno
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => BrutoPlata)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Index">Vrati se na listu</a>
</div>
